
###> symfony/framework-bundle ###
/.env.local
/.env.docker
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.editorconfig
/.idea
###< symfony/framework-bundle ###
